body {
    background-image: url( ./Webkit_files/images/pink-background.png ) !important;
}

#content ul > li {
    list-style-image: url( ./Webkit_files/images/pink-bullet.png ) !important;
}

#icon {
	background-image: url( ./Webkit_files/images/icon.png ) !important;
}

#title h1, h2, h3, h4, #navlist .subtitle {
	color: #903;
}

a, #navlist a {
    color: #c36;
}